

.dropdownContainer {
  width: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;

  
}



.dropdown1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  width: 100%;
  border-radius: 3px 3px 0px 0px;
  height: 60px;
  align-items: center;
}

.titleContainer:hover{
  background-color: rgb(31, 31, 31);
  cursor: pointer;
}

.titleContainer:hover div {
  text-decoration: underline;
}

.titleContainer span{
  padding-right: 10px;
}

.backgroundColorGray {
  background-color: rgb(31, 31, 31);
}

.dropdownTitle {
  flex: auto;
  margin-left: 1rem;
  font-weight: 700;
}

.dropdownArrow {
  margin-right: 1rem;
}

.dropdownText {
  padding: 20px 30px 20px 30px;
  border-bottom: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  transition: all .1s;
}

.dropdownText a {
  color: white;
}

.dropdownText a:hover {
  font-weight: 700;
}


.doNotShow {
  height: 0px;
  font-size: 0px;
  transition: all .1s;
  border: 0px;
  margin-bottom: -40px;
}

