.affordableContainer {
margin-top: 8rem;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  align-self: center;
}

.affordableTitle {
  font-size: var(--title-size);
  font-weight: var(--font-header-weight);
  align-self: center;
}

.affordableText {
  font-weight: 400;
  text-align: center;
}

.affordableCards{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  align-self: center;
}

.affordableCards span {
  background-color: white;
  color: black;
  width: 55px;
  height: 37px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  align-content: center;
  justify-items: center;
}

.affordableCardsCard {
  padding: 2px;
  border: 1px solid lightgray;
  width: 40px;
  height: 25px;
  border-radius: 3px;
}

.premiumInclude {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
}

.premiumIncludeTitle {
  
}

.premiumIncludeList {
  display: flex;
  flex-direction: column;

}

.premiumIncludeList span {
  margin-top: 3px;
  margin-bottom: 3px;
}
