

.sidenav {
  color: white;
  position: relative;
  z-index: 100;
  background: black;
  position: absolute;
  /* height: 100vh; */
  width: 350px;
  /* padding: 10px 30px 30px 30px; */
  padding-bottom: 20px;
  transition: all .7s;
  right: -115%;

  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  display: flex;
  flex-direction: column;
}

.sidenav.active{
  right: 0px;
}



.title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 20px;
  padding: 10px 0 0 20px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 10px;
}

.card {
  background-color: #242424;
  border-radius: 5px;
  padding: 15px 10px 15px 10px;
  width: 85%;
  align-self: center;
}

.card:hover {
  background-color: black;
}

.cardTitle {
  font-weight: 700;
}

.cardText {
  font-size: 13px;
  color: lightgray;
  margin-top: 7px;
}



.boldLinkText {
  font-weight: 700;
  font-size: 34px;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

.boldLinkText:hover {
  color: rgb(0, 255, 0)
}

.separatorLine {
  background-color: white;
  height: 2px;
  width: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}


.mediumLinkText {
  font-size: 24px;
  padding: 0px 0px 10px 20px;

}

.mediumLinkText:hover {
  color: rgb(0, 255, 0);
}
