:root {
  --font-header-weight: 700;
  overflow-x: hidden;
  --basic-text: white;
  --font-family: sans-serif;
  --title-size: 36px;
}

.App {
  backgrounD: #121212;
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: sans-serif;

  background: linear-gradient(
    200deg,rgba(255, 210, 215, 1) 
  5%, rgba(138, 109, 109, 1) 15%, 
  rgba(18, 18, 18, 1) 40%);
}




.contentContainer {
  display:flex;
  flex-direction: column;
 /*  border: 1px solid white; */
  width: 95%;
  max-width: 1100px;
  justify-self: center;
  position: relative;
  z-index: 10;

  padding-bottom: 50rem;
}



/* Get started / View all plans */

.withoutLimitsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.withoutLimitsText1 {
  color: var(--basic-text);
  font-weight: var(--font-header-weight);
  font-size: 42px;
}

.withoutLimitsText2 {
  color: var(--basic-text);
  font-weight: 700;
  font-size: var(--title-size)
}

.withoutLimitsText3 {
  color: var(--basic-text);
  font-size: 18px;
  margin-top: 10px;
}

.withoutLimitsButtons {
  margin-top: 2rem;
  width: 500px;
  display: flex;
  align-items: center;
}

.getStartedButton {
  color: black;
  font-size: 18px;
  font-weight: 700;
  background-color: #FFD2D7;
  border-radius: 30px;
  padding: 15px 27px 15px 27px;
  text-decoration: none;
  border: 1px solid #FFD2D7;
}

.getStartedButton:hover {
  border: 1px solid black;
  /*   
  animation: buttonHoverAnimation 2s ease-in infinite;
  */
}

@keyframes buttonHoverAnimation {
  0%, 100% {
    border: 1px solid #FFD2D7;
  }
  50% {
    border: 2px solid gray;
  }
}

.viewAllPlansButton {
  color: white;
  font-size: 18px;
  font-weight: 700;
  background-color: #000000;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 15px 27px 15px 27px;
  text-decoration: none;
  margin-left: 20px;
}

.viewAllPlansButton:hover {
  animation: buttonHoverAnimation 2s ease-in infinite;
}

.termsText {
  color: white;
  font-size: 12px;
  margin-top: 2rem;
  font-weight: 400;
}

.termsTextLink {
  color: white;
}



.planCardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.questionsContainer {
  /* border: 1px solid white; */
}




