
@media only screen and (max-width : 800px) {
    .footerLinks {
    display: flex;
    flex-direction: column;
    color: white;
    width: 90%;
    align-self: center;
    }
}

@media only screen and (max-width : 900px) {
   
  .headerOptionsRight {
    display: none;
  }

  .headerPopupMenu {
    display:grid;
    position: absolute;
    margin-left: 90%;
    cursor: pointer;
    background-color: black;
    border: 0px;
  }

  .sidebar {
    background-color: white;
    height: 100px;
    width: 100px;
    position: absolute;
  }

}
  
