
@media only screen and (max-width : 800px) {
    .footerLinks {
    display: flex;
    flex-direction: column;
    color: white;
    width: 90%;
    align-self: center;
    }

    .footerBottomText {
      justify-content: center;
    }
}

@media only screen and (max-width : 400px) {
  .headerPopupMenu {
    margin-left: 80%;
  }
}

@media only screen and (max-width : 500px) {
 .navbar{
  width: 300px;
 }
}

@media only screen and (max-width : 900px) {
   
  .headerOptionsRight {
    display: none;
  }

  .headerPopupMenu {
    display:grid;
    position: absolute;
    margin-left: 85%;
    cursor: pointer;
    background-color: black;
    border: 0px;
  }
}
  
